@import "Colors.scss";

.single-article-list {
  background-color: $white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .text {
    padding: 24px 32px 36px 32px;
    border-top: solid 2px #BC36F0;
    font-weight: 400;
    .articletitlecategory {
      color: #706B69;
      font-size: 16px;
      line-height: 21px;
    }
    p{
      margin: 0;
      font-size: 16px;
      line-height: 21px;
      color: $black;

      span {
        display: block;
        color: #706B69;
      }
    }
    h5 {
      margin: 0;
      padding: 12px 0 19px 0px;
      span {
        color: $black;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .list-thumb {
    display: block;
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
    span {
      position: absolute;
      right: 12px; top: 16px;
      z-index: 2;
      border-radius: 20px; padding: 0px 11px;
      background-color: #EAE8E5;
      color: #1E1E1E;
      font-size: 14px; line-height: 20px;
      text-transform: uppercase;
    }
  }
}

.article-list-main {
  .single-article-list {
    margin-bottom: 48px;
    min-height: calc(100% - 48px);
  }
  h4 {
    margin-bottom: 40px;
    font-size: 28px; font-weight: 300; line-height: 120%; padding-top: 0;
  }

}
.mobile-arrow {
  display: none;
}
.wp-block-image{
  margin-top: 48px;
  img{
    max-width: 100%;
    height: auto;
  }
}
.wp-block-embed-youtube {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  .wp-block-embed__wrapper{
    iframe{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
.btn-main {
  &.min-width {
    min-width: 182px;
    display: inline-block;
    margin-top: 48px;
  }
}
.twoline-text {
  overflow: hidden; max-height: 42px; font-size: 16px;  display: block; padding-bottom: 6px;
}
@media (max-width: 767px) {
  .mobile-arrow {
    display: block;
  }
  .article-list-main .single-article-list {
    margin-bottom: 0;
  }
  .btn-main.min-width {
    margin-top: 32px;
    padding: 8px 16px;
    min-width: inherit;
    font-size: 16px;
  }
}